<div class="userForm">
  <form>
    <div class = "userDiv" ng-repeat = "question in questions track by $index">
      <p>{{question.Question}}</p>
      <input type="radio" ng-model="question.isSelected" value="{{question.A}}" class = "inputbox ques">{{question.A}}&nbsp;&nbsp;
      <input type="radio" ng-model="question.isSelected" value="{{question.B}}" class = "inputbox ques">{{question.B}}&nbsp;&nbsp;
      <input type="radio" ng-model="question.isSelected" value="{{question.C}}" class = "inputbox ques">{{question.C}}&nbsp;&nbsp;
      <input type="radio" ng-model="question.isSelected" value="{{question.D}}" class = "inputbox ques">{{question.D}}
    </div>
    <br>
    <a ng-href = "/login" class = "loginbutton" id = "logoutButton">Logout</a>
    <button ng-click="submit()" class = "registerbutton">Submit</button>
  </form>
</div>
