.loginForm{
  width: 600px;
  margin: auto;
  border: 1px solid black;
}

.setForm{
  width: 600px;
  margin: auto;
  border: 1px solid black;
  max-height: 500px;
  overflow-y: scroll;
}

.userForm{
  width: 800px;
  margin: auto;
  border: 1px solid black;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.inputbox{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 14px;
}

.questionInputBox{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  font-size: 14px;
}

.loginbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 33px;
    margin-top: 8px;
    margin-bottom: 2px;
}

.registerbutton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.adminDiv{
  width: 300px;
  margin: auto;
  padding-left: 110px;
  border: 1px solid black;
}

.login{
  padding: 30px;
  padding-left: 220px;
}

.adminList{
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: 0px;
}

.adminList li {
  padding-bottom: 10px;
}

a{
  text-decoration: none;
  font-size: 18px;
}

#logoutButton{
  margin-top: -90px;
  margin-bottom: 30px;
  margin-left: 53px;
}

#backButton{
  margin-top: -90px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#setBackButton{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.usernameRow{
  padding-right: 10px;
}

.userDiv{
  padding-left: 20px;
  padding-top: 10px;
}

.ques{
  margin-right: 10px;
  margin-bottom: 0px;
}

.userTable{
  margin-left: -40px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
